<footer class="bg-[#411FEB] text-white py-6 text-center">
    <div class="container mx-auto flex flex-wrap justify-between items-center lg:px-32 px-8">
        <!-- Logo et slogan -->
        <div class="text-left">
            <a href="index.html" class="flex items-center gap-2 text-lg font-bold text-white">
                <img src="media/logo.png" alt="Logo Wizyx" class="w-6 h-6">
                Wizyx
            </a>
            <p class="mt-2">Je crée des interfaces premium et intuitives en alliant clarté, esthétique et storytelling pour offrir la meilleure expérience possible aux utilisateurs.</p>
            <p class="mt-2"><a href="legal.html" class="underline">Mentions légales</a></p>
        </div>

        <!-- Icônes sociales -->
        <div class="flex space-x-4 text-[#411FEB] text-2xl">
            <a href="https://linkedin.com/in/flogk/"
                class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                <i class='bxl bx-linkedin'></i>
            </a>
            <a href="mailto:floriangertner0@gmail.com"
                class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                <i class='bx bxs-envelope'></i>
            </a>
            <a href="https://t.me/wizyx0"
                class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                <i class='bxl bx-telegram'></i>
            </a>
            <a href="https://github.com/WizyxGH"
                class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                <i class='bxl bx-github'></i>
            </a>
        </div>
    </div>
</footer>