<footer class="bg-[#411FEB] text-white p-6">
    <div class="mx-auto lg:px-32 grid grid-cols-1 md:grid-cols-3 gap-8 items-start">

        <!-- Colonne 1 : Branding et réseaux sociaux -->
        <div class="w-full flex flex-col justify-between gap-4">
            <div class="space-y-2">
                <a href="/" class="flex items-center gap-2 text-lg font-bold text-white">
                    <img src="/media/logo.png" alt="Logo Wizyx" class="w-6 h-6">
                    Wizyx
                </a>
                <p class="text-sm">
                    Je crée des interfaces premium et intuitives en alliant clarté, esthétique et storytelling pour
                    offrir
                    la meilleure expérience possible aux utilisateurs.
                </p>
            </div>
            <div class="flex space-x-2 text-[#411FEB] text-2xl">
                <a href="https://linkedin.com/in/flogk/" target="_blank" rel="noopener noreferrer"
                    class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <a href="mailto:hello@wizyx.me" target="_blank" rel="noopener noreferrer"
                    class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                    <i class='bx bxs-envelope'></i>
                </a>
                <a href="tel:+33778407887" target="_blank" rel="noopener noreferrer"
                    class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                    <i class='bx bxs-phone'></i>
                </a>
                <a href="https://t.me/wizyx0" target="_blank" rel="noopener noreferrer"
                    class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                    <i class='bx bxl-telegram'></i>
                </a>
                <a href="https://www.figma.com/@wizyx" target="_blank" rel="noopener noreferrer"
                    class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                    <i class='bx bxl-figma'></i>
                </a>
                <a href="https://github.com/WizyxGH" target="_blank" rel="noopener noreferrer"
                    class="w-12 h-12 flex items-center justify-center bg-white rounded-xl">
                    <i class='bx bxl-github'></i>
                </a>
            </div>
        </div>

        <!-- Colonne 2 : Navigation -->
        <div class="w-full flex flex-col h-full justify-start gap-2">
            <p class="font-bold">Navigation</p>
            <div class="flex flex-col gap-1">
                <a href="/about/" class="hover:font-semibold">Qui suis-je ?</a>
                <a href="/creations/" class="hover:font-semibold">Réalisations</a>
                <a href="/services/" class="hover:font-semibold">Services</a>
                <a href="/contact/" class="hover:font-semibold">Contact</a>
                <a href="/legal/" class="hover:font-semibold">Mentions légales</a>
            </div>
        </div>

        <!-- Colonne 3 : Newsletter -->
        <div class="w-full flex flex-col h-full justify-start text-left md:text-right gap-4">
            <div class="space-y-2">
                <p class="font-bold">Rejoindre la newsletter</p>
                <p>En cours de création, revenez plus tard...</p>
            </div>
            <form class="flex gap-2 justify-start md:justify-end">
                <input type="email" placeholder="Entrez votre adresse e-mail"
                    class="w-full px-3 rounded-xl h-12 border border-white text-black">
                <button type="submit" class="flex items-center justify-center w-12 h-12 bg-white text-[#411FEB] rounded-xl font-semibold text-2xl" aria-label="Envoyer">
                    <i class='bx bx-send-alt'></i>
                </button>
            </form>
        </div>

    </div>
</footer>
