---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import CreationsHeader from '../components/creations/CreationsHeader.astro';
import ProjectCard from '../components/ui/ProjectCard.astro';
import Button from '../components/ui/Button.astro';

const allProjects = await getCollection('projects');
const sorted_projects = allProjects
  .filter((p) => p.data.is_study !== true)
  .sort((a: any, b: any) => (a.data.id || 0) - (b.data.id || 0));
---
<Layout title="Maquettes UI/UX" description="Retrouvez tous les designs d'interfaces (UI & UX) que j'ai réalisé au cours de ma carrière (stages," body_class="">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Accueil",
                    "item": "https://wizyx.me/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Créations",
                    "item": "https://wizyx.me/creations/"
                }
            ]
        }
    </script>
    <script src="/assets/js/projects.js" defer></script>
    <main>
        <CreationsHeader />

        <section class="p-8 text-center lg:px-32 lg:-mt-40">
            <h2 class="text-2xl font-bold mb-6 lg:text-white">
                <i class='bx bxs-diamond-alt'></i> Mes maquettes
            </h2>
            <div id="projectsContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
                {sorted_projects.map((project) => {
                    return (
                        <ProjectCard project={project} />
                    )
                })}
            </div>
            <div class="flex justify-center mt-12 mb-8">
                <Button id="showMoreButton" variant="primary" class="shadow-lg hover:shadow-xl transform hover:-translate-y-1">
                    <span>Afficher tous les projets</span>
                    <i class='bx bx-plus text-xl'></i>
                </Button>

                <Button id="showLessButton" variant="primary" class="shadow-lg hover:shadow-xl transform hover:-translate-y-1 hidden">
                    <span>Afficher moins de projets</span>
                    <i class='bx bx-minus text-xl'></i>
                </Button>
            </div>
        </section>
    </main>
</Layout>